.formulario{
    width: 43%;
    margin: 0 auto;
    color: black;
    background-color: white;
    background-size: cover;
    background-position: center;
    text-align:start;
    padding-top: 1cm;
    padding-bottom: 3cm;
    padding-left: 1cm;
    padding-right: 1cm;
    box-shadow: 0px 35px 44px -22px rgba(0,0,0,0.72);

}


.fondo{
    background-color: #775b7f;
}

.guardar{
    align-items: center;
    padding: 0.5em 1em;
    
    border: none;
}

.tex{
    
    text-align: center;
    font-size: 30px;
    font-family: sans-serif;
}

.footer{
    background-color: #572364;
    color: white;
    text-align: center;
    
  }
  .header{
    background-color: #572364 !important;
    height: 450;
    color: white;
    text-align: center ;
  }