.form{
    width: 28%;
    margin: 0 auto;
    color: white;
    background-image:url(https://th.bing.com/th/id/R.213877afff31f6ac5b23163e1046995c?rik=Kw0mNP%2bOYFEdig&pid=ImgRaw&r=0&sres=1&sresct=1);
    background-size: cover;
    background-position: center;
    text-align:center;
    padding-top: 3cm;
    padding-bottom: 3cm;
    box-shadow: 0px 35px 44px -22px rgba(0,0,0,0.72);
    
  }
  .pagelog{
    background:#775b7f;
  }

  .footer{
    background-color: #572364;
    color: white;
    text-align: center;
    
  }
  